.person-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 25%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
}

.person-name {
    font-family: 'DotGothic16', sans-serif;
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: #fffee9;
    width: 100%;
    text-align: center;
    white-space: normal;
}

.person-role {
    font-family: 'DotGothic16', sans-serif;
    font-size: clamp(0.5rem, 2vw, 1rem);
    color: #fffee9;
}

.card a {
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.7) 100%);
}

.card a,
.person-info,
.card {
    border-radius: 1.25vmin;
}

.card {
    aspect-ratio: 5 / 7;
    width: 25vmin;
    margin: 20px 20px 20px 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.1s ease-out;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);   
    text-align: center;
    position: relative;
}

.card-group-container {
    width: 75%;
}

@media only screen and (max-width: 1390px) {
    .card {
        width: 35vmin;
        margin: 10px 10px 10px 10px;
    }

    .card-group-container {
        width: 90%;
    }
}

@media only screen and (max-width: 632px) {
    .card {
        width: 40vmin;
        margin: 10px 10px 10px 10px;
    }

    .card-group-container {
        width: 100%;
    }

    .person-info {
        height: 40%;
    }
}


.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}