.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1.25vh 0 2.5vh 0;
    align-items: center;
    flex-direction: column;
    line-height: 0;
    background-color: black;
    padding-bottom: 2.25vw;
}