@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');

#progress-bar {
    position: fixed;
    bottom: calc((100 - var(--height, 0)) * 1%);
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #030404; 
    z-index: 1;
}

.wrapper {
    background-color: #41494D;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    align-items: center;
}

#text-container {
    display: flex;
    justify-content: start;
    margin-left: clamp(4rem, 8vw, 48rem);
    transition: font-family 0.5s ease-in-out;
    color: #FFFEE9; 
}

#arrow {
    display: inline-block;
    transform: translate(0, -9%);
    font-family: "DotGothic16", sans-serif;
    font-size: clamp(2rem, 8vw, 10rem);  
    transition: font-family 0.5s ease-in-out;
    color: #FFFEE9; 
    background: transparent;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.real-input {
    position: absolute;
    width: calc(var(--vw, 1vw) * 80);
    transform: translate(0, -10%);
    height: 130%;
    opacity: 0;
    border: none;
    background: none;
    color: transparent;
    z-index: 10;
}

#input-container {
    display: grid;
    position: relative;
    margin-left: 20px;
    flex-grow: 1;
}

.input-cursor, .no-text, .text {
    grid-column: 1;
    grid-row: 2;
}

.input-cursor {
    position: absolute;
    aspect-ratio: 5 / 1;
    background-color: white;
    transform: translate(0, 1280%);
    animation: blink .5s linear infinite alternate;
    z-index: 2;
    transition: margin-left 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(0.5, 0.8, 0.3);
}

.input-text {
    position: absolute;
    font-family: "DotGothic16", sans-serif;
    font-size: clamp(2rem, 8vw, 10rem);  
    transition: font-family 0.5s ease-in-out;
    white-space: nowrap;
}

.regular-text
{
    margin-top: 1rem;
    display: flex;
    font-family: "DotGothic16", sans-serif;
    font-size: clamp(0.8rem, 3vw, 10rem);  
    transition: font-family 0.5s ease-in-out;
    color: #FFFEE9;
}

#text {
    color: #FFFEE9; 
    user-select: none;
    z-index: 5;
    transition: position 0.5s ease-in-out;
}

#logo-container {
    display: none;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 80%;
    height: auto;
}

#no-text {
    user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none; 
    opacity: 0.5;
    color: #ACA9A5; 
    z-index: 2;
}

#mobile {
    display: none;
}

@keyframes blink {
    0% {opacity: 0;}
    40% {opacity: 0;}
    60% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes glitch-grey {
    2%,
    64% {
        transform: translate(-42%, -56%) skew(0deg);
    }
    4%,
    60% {
        transform: translate(-52%, -50%) skew(0deg);
    }
    62% {
        transform: translate(-50%, -50%) skew(5deg);
    }
}

@keyframes glitch-red {
    2%,
    64% {
        transform: translate(-54%, -44%) skew(0deg);
    }
    4%,
    60% {
        transform: translate(-52%, -50%) skew(0deg);
    }
    62% {
        transform: translate(-50%, -50%) skew(5deg);
    }
}

@keyframes glitch {
    2%,
    64% {
        transform: translate(-48%, -50%) skew(0deg);
    }
    4%,
    60% {
        transform: translate(-52%, -50%) skew(0deg);
    }
    62% {
        transform: translate(-50%, -50%) skew(5deg);
    }
}

@media (max-width: 800px) {
    #text-container {
        margin-left: clamp(1rem, 4vw, 10rem);
        width: 100%;
    }
    
    #mobile {
        position: absolute;
        display: inline;
    }
}