.wrapper {
    margin: 0 calc(9.61538vw - 10.76923px) 0 calc(9.61538vw - 10.76923px);
    display: block;
}

::-webkit-scrollbar { display:none; } 

.right-section-inner {
    padding-left: 4.1666666667%;
    width: 50%;
}

.left-section-inner {
    padding-right: 4.1666666667%;
    width: 50%;
    height: 50%;
    margin: auto;
}

#context-container {
    padding: 30px 0 30px 0;
}

.section-item, 
.reversed-section-item {
    margin-bottom: calc(6.73077vw + 18.46154px);
    display: flex;
    flex-direction: row;
}

.circle {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.circular-text, 
.context-text, 
.os-text {
    position: absolute;
    width: 80%;
    height: 100%;
    animation: rotate 13s steps(1, end) infinite;
}

.section-subtext {
    text-align: center;
}

#context-description-text {
    width:80%;
}

h1 
{
    font-size: 1.3rem;
}

.regular-text,
.section-subtext {
    font-family: "Fira Code", monospace;
    font-size: 1.3rem;
    line-height: 1.6;
    color: #FFFEE9; 
    font-stretch: 120%;  
    height: 50%;
}

#filler {
    height: 100vh;
}

.hovering-picture {
    --translateY: -65px;
    --rotate: 20deg;
    position: absolute;
    transform: translate(0, var(--translateY)) rotate(var(--rotate));
    height: 180px;
    width: auto;
    transition: transform 0.6s cubic-bezier(0.23, .73, .58, .82);
}

#trailer-video {
    width: 100%;
    height: 100%;
}

strong {
    color: red;
}

@media only screen and (min-width: 48em) {
    .section-item, .reversed-section-item {
        display: flex;
    }

    #context-description-container {
        padding-right: 4.1666666667%;
        padding-left: 0;
        height:50%;
        margin: auto;
    }

    #context-inner-container {
        padding-right: 0;
        padding-left: 4.1666666667%;
    }
    
    #os-video-container {
        display: flex;
    }
}

@media only screen and (max-width: 48em) {
    #context-description-text {
        width:100%;
    }

    .section-item, .reversed-section-item {
        display: flex;
        flex-direction: column;
        margin-bottom: calc(6.73077vw);
    }

    .title{
        margin-bottom: 5rem; 
    }

    .left-section-inner,
    .right-section-inner {
        width: 100%;
        height: auto;
        padding: 0;
        display: flex;
        margin-bottom: 45px;
    }

    .section-subtext {
        text-align: left;
        margin-bottom: 50px;
    }
}

@keyframes rotate {
    0%, 5% {
        transform: rotate(0deg);
    }
    5%, 10% {
        transform: rotate(18deg);
    }
    10%, 15% {
        transform: rotate(36deg);
    }
    15%, 20% {
        transform: rotate(54deg);
    }
    20%, 25% { /* Corrected interval */
        transform: rotate(72deg);
    }
    25%, 30% {
        transform: rotate(90deg);
    }
    30%, 35% {
        transform: rotate(108deg);
    }
    35%, 40% {
        transform: rotate(126deg);
    }
    40%, 45% {
        transform: rotate(144deg);
    }
    45%, 50% {
        transform: rotate(162deg);
    }
    50%, 55% {
        transform: rotate(180deg);
    }
    55%, 60% {
        transform: rotate(198deg);
    }
    60%, 65% {
        transform: rotate(216deg);
    }
    65%, 70% {
        transform: rotate(234deg);
    }
    70%, 75% {
        transform: rotate(252deg);
    }
    75%, 80% {
        transform: rotate(270deg);
    }
    80%, 85% {
        transform: rotate(288deg);
    }
    85%, 90% {
        transform: rotate(306deg);
    }
    90%, 95% {
        transform: rotate(324deg);
    }
    95%, 100% {
        transform: rotate(342deg);
    }
}


@media only screen and (min-width: 80em) {
    .wrapper {
        padding: 0 8.3333333333%;
    }
}

@media (min-width: 1360px)
{
    .section-item, .reversed-section-item {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .reversed-section-item {
        flex-direction: row-reverse;
    }
}

@media only screen and (min-width: 1492px) {
    #context-description-text {
        width: 90%;
    }
}
