body {
	margin: 0;
	padding: 0;
	background-color: black;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {display:none;} 

.section-label {
    margin-bottom: calc(50px);
    margin-top: calc(3.84615vw + 57.69231px);
    font-family: "Fira Code", monospace;
    font-size: 40px;
    color: #fffee9;
    width: 100%;
    text-align: center;
}



@media only screen and (max-width: 48em) {
	.section-label {
		margin-bottom: calc(30px);
		font-size: 30px;
	}
}